@model OKS_Tomasos.ViewModels.Matratter
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http;
@using OKS_Tomasos.ViewModels;
@using Newtonsoft.Json;

@{
    int intCheck = 0;
    var text = "";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
</head>

<body>
    <div class="container">
        <div class="row">
            <div style="padding: 20px" ; class="col-sm-12">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                @foreach (var M in Model.MatratterList)
                {
                    <div class="card" style="width: 27rem;">
                        <div class="card-body">
                            <h5 class="card-title">@M.MatrattNamn</h5>
                            <p class="card-text">
                                @M.Beskrivning - @M.Pris Kr
                                <br />Kategori: @Model.MatrattTyper.Where(x => x.MatrattTyp1 == @M.MatrattTyp).SingleOrDefault().Beskrivning
                                @{ var Produkter = Model.MatrattProdukter.Where(x => x.MatrattId == M.MatrattId).ToList(); }
                            <p class="card-text">
                                Ingredienter:
                                @foreach (var P in Produkter)
                                {
                                    intCheck++;
                                    if (intCheck == Produkter.Count)
                                    {
                                        text = P.Produkt.ProduktNamn.ToString();
                                        @text
                                    }
                                    else
                                    {
                                        { text = P.Produkt.ProduktNamn.ToString() + ", "; }
                                        @text
                                    }
                                }
                            </p>
                            <br />
                            <a asp-controller="Menu" asp-action="AddProduct" asp-route-id="@M.MatrattId" class="btn btn-primary">Lägg till i Varukorg</a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-5" style="text-align:center">
                <div class="card" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="card-title">Beställning</h5>
                        @{int Sum = 0;}
                        @foreach (var B in Model.BestallningList)
                        {
                            Sum = Sum + B.Pris;
                            <p class="card-text">@B.MatrattNamn - @B.Pris Kr</p>
                        }
                        @if (Sum != 0)
                        {
                            <p>Summa: @Sum</p>
                        }

                        @if(Model.BestallningList.Count > 0)
                        {
                            <a asp-controller="Menu" asp-action="Checkout" class="btn btn-primary">Beställ</a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>